{% load static %}
<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Mohammad Saddam Mashuri</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="{% url 'index-home' %}" class="logo"><strong>MSM</strong> <span>| Friends</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					{% include 'index/layouts/navbar.html' %}

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
							
								<div class="inner">
									<header class="major">
										<h1>Friends</h1>
									</header>
									{% for friend in friends %}
										<h2>{{ friend.name }}</h2>
										<p>
											Hobby: {{ friend.hobby }}
											<br>Favourite FnB: {{ friend.fnb }}
											<br>Class Year: {{ friend.your_year }}
											<br>
										</p>
									{% endfor %}
							<!-- Form -->
									<form method="post" action="">
									{% csrf_token %}
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" required placeholder="Name" />
											</div>
											<div class="field half">
												<label for="fnb">Favorite Food and Drinks</label>
												<input type="text" name="fnb" id="fnb" required placeholder="Pizza and Cola" />
											</div>
											<div class="field">
												<label for="hobby">Hobby</label>
												<textarea name="hobby" id="hobby" required rows="3"></textarea>
											</div>
											<div class="field half">
												<select name="your_year" id="id_your_year">
													<option value="">- Year -</option>
													<option value="2">2019</option>
													<option value="3">2018</option>
													<option value="4">2017</option>
													<option value="5">2016</option>
												</select>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Submit" class="primary" /></li>
											<li><input type="reset" value="Clear" /></li>
										</ul>
									</form>
									
									<!-- <form action="" method="post">
									{% csrf_token %}
									
									{{ form }}
									
									<input type="submit" value="Submit">
									</form> -->
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="cname">Name</label>
											<input type="text" name="cname" id="cname" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">saddamonpc@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>+62 878 6694 3392</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>Jl. Margonda Raya No.525A, Kota Depok<br />
										Depok 16424<br />
										Indonesia</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.instagram.com/saddamonpc/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/saddamonpc" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
							</ul>
							{% include 'index/layouts/copyright.html' %}
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>